.option-8{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
    align-self: center;
}
.option-8 .options{
    display: flex;
    width: 50%;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.option-8 .options input{
    padding: 5px ;
}